* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #6c757d;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 100px;
}

.navbar {
  height: 74px;
  background-color: #082c45;
  width: 100%;
  position: fixed;
  color: white;
  font-family: Licorice, cursive;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  margin-top: -100px;
}

.leftLinks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.leftLinks > button {
  font-family: Licorice, cursive;
  border: none;
  background-color: #082c45;
  padding-left: 20px;
  font-weight: 300;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.leftLinks button:first-of-type  {
  font-weight: 500;
  padding-right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.content {
  width: 80vw;
  min-height: 80vh;
  border: .2px solid #082c45;
  border-radius: 8px;
  background-color: #dfdddd;
  margin: 0 auto;
}
